{{#if (or isEmpty (and disabled (not checkboxVal)))}}
  <div>
    <i class="fa {{if checkBoxVal 'fa-check-square-o' 'fa-square-o'}} disabled-checkbox" aria-hidden="true" /> <span class="toggle-filter-label toggle-all-checked-label disabled-checkbox-label">{{if checkboxVal "Uncheck" "Check"}} All</span>
  </div>
{{else}}
 <div class="pointer" {{action "checkAll" tableData}}>
   <i class="fa {{if checkBoxVal 'fa-check-square-o' 'fa-square-o'}}" aria-hidden="true" /> <span class="toggle-filter-label toggle-all-checked-label">{{if checkboxVal "Uncheck" "Check"}} All</span>
 </div>
{{/if}}
{{yield}}
