<h2 id="title">Welcome to Ember</h2>
    <h1> {{model.leftTableDataList.length}} </h1>
    <h1> {{model.rightTableDataList.length}} </h1>

    {{two-col-select
        leftColumnTitle=leftColumnTitle
        leftColumnTitleAttrs=leftColumnTitleAttrs
        rightColumnTitle=rightColumnTitle
        leftTableDataList=model.leftTableDataList
        rightTableDataList=model.rightTableDataList
        sortKey=sortKey
        twoColSelectLabels=twoColSelectLabels
        moveItems=(action "moveItems")
        moveEachItem=(action "moveEachItem")
        filterList=filters
        columnAttributes=additionalCols
        columnAttributeHeaders=headers
        labelHeader="Name"
        filterStyle="my-filter-style"
    }}

<h3><button {{action "incrementNum"}}>Click to change title!</button></h3>
